@page "/alerttest"
@using SharedComponents.RazorComponents

<Alert Style="Alert.AlertStyle.Danger">
    To jest testowy komunikat
</Alert>
<Alert Style="Alert.AlertStyle.Success">
    <ChildContent>
        <h1>Testowy komunikat</h1>
        <p>Testowy komunikat</p>
    </ChildContent>
</Alert>

@code {
    
}