@page "/"
@using Data.Models.Interfaces
@using Data.Models.Models
@inject IBlogApi Api

<ul>
    <Virtualize ItemsProvider="LoadPosts" Context="post">
        <li><a href="/post/@post.Id">@post.Title</a></li>
    </Virtualize>
</ul>

@code {
    public int TotalBlogPosts { get; set; }
    private async ValueTask<ItemsProviderResult<BlogPost>> LoadPosts(ItemsProviderRequest request)
    {
        if(TotalBlogPosts == 0)
        {
            TotalBlogPosts = await Api.GetBlogPostCountAsync();
        }
        var numBlogPosts = Math.Min(request.Count, TotalBlogPosts - request.StartIndex);
        var blogPosts = await Api.GetBlogPostsAsync(numBlogPosts, request.StartIndex);
        return new ItemsProviderResult<BlogPost>(blogPosts, TotalBlogPosts);
    }
}